meter {
    width: 100%;
    height: 20px;
    bottom: 20px;
}
/* 
div {
    position:relative;
    left:200px;
} */

/* ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
} */

.textStyle {
    font-size: 15pt;
    margin-bottom: 0.5cm;
    padding-left: 0.5cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-right: 0.5cm;
    margin-top: 0.5cm;

    /* border stylings */
    border: 1px solid rgb(83, 196, 230) ;
    border-radius: 0.2cm;
    border-left: solid #32a1ce;
    left: 10px;
    background-color: #d6ecf5;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 1500px;
    border: none;
    text-align: left;
    outline: none;

    margin-left:0.5cm;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    /* width:1500px; */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin-left:0.5cm;
}
