meter {
    width: 1500px;
    height: 20px;
    bottom: 20px;
}
/* 
div {
    position:relative;
    left:200px;
} */

/* ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
} */


